@model RestaurantReserve.Models.PhysicalTable

@{
    ViewData["Title"] = "Edit";
}

<h2>Are you sure you want to reserve this?</h2>

<form asp-action="Reserve">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label class="col-md-2 control-label"> Reservation time: </label>
            <div class="col-md-2-offset-2 col-md-10">
                <input asp-for="reservedFor" class="form-control" />
                <span asp-validation-for="reservedFor" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input id="agreement" asp-for="isReserved" />
                    <label> Yes, I agree to the <a style="color:blue" asp-controller="Home" asp-action="About">Terms of Use</a></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> Your E-mail: </label>
            <div class="col-md-2-offset-2 col-md-10">
                <input asp-for="reservedBy" value='@ViewData["currentUserName"]' class="form-control" />
                <span asp-validation-for="reservedBy" class="text-danger" />
            </div>
        </div>
      
        <div>
            <div class="col-md-10">
                <input asp-for="leftPos" type="hidden" class="form-control" />
                <span asp-validation-for="leftPos" class="text-danger" />
            </div>
        </div>
        <div>
            <div>
                <input asp-for="objHeight" type="hidden" class="form-control" />
                <span asp-validation-for="objHeight" class="text-danger" />
            </div>
        </div>
        <div>
            <div>
                <input asp-for="objWidth" type="hidden" class="form-control" />
                <span asp-validation-for="objWidth" class="text-danger" />
            </div>
        </div>
        <div>
            <div>
                <input asp-for="restaurantId" type="hidden" class="form-control" />
                <span asp-validation-for="restaurantId" class="text-danger" />
            </div>
        </div>
        <div>
            <span>
                <input asp-for="rotationAng" type="hidden" class="form-control" />
                <span asp-validation-for="rotationAng" class="text-danger" />
            </span>
        </div>
        <div>

            <span>
                <input asp-for="topPos" type="hidden" class="form-control" />
                <span asp-validation-for="topPos" class="text-danger" />
            </span>
        </div>
        <div>
            <div>
                <input asp-for="type" style="position:fixed" type="hidden" class="form-control" />
                <span asp-validation-for="type" class="text-danger" />
            </div>
        </div>
  
   
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Proceed" class="btn btn-success" />
                <a class="btn btn-default" href="javascript:void(0);" onclick="history.go(-1);">Back</a>
            </div>
        </div>
    </div>
</form>

<div>
    @*<a asp-action="Index">Back to List</a>*@

</div>

<script src="~/js/jquery.min.js"></script>
<script>
    //var checked = $('#agree').is(":checked");

    $(document).ready(function () {
        $('input[type="submit"]').prop('disabled', true);

        $("#agreement").click(function () {
            if ($(this).is(':checked')) {
                $('input[type="submit"]').prop('disabled', false);
            }

        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
