@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3> Use the service to reserve a table at the listed restaurants! </h3>
<h4> If you are a restaurant owner, create your own restaurants! </h4>


<p> <strong> Note :</strong> When using the service, you agree that you are held responsible for giving false reservations.</p>
<p> <strong> Note :</strong> Giving incorect information or abusing the system will result in a ban.</p>
